// Place all the styles related to the Dashboards controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/
.dashboard-header{
  color: black;
  width: 100%;
  height: 140px;
}

.dashboard-header-text{
  padding-left: 50%;
  padding-top: 5%;
}

.dashboard{
  color: darkgrey;
  padding: 5% 5% 5% 5%;
  background-color: #2E2F30;
  width: 15%;
}

.tab{
  padding: 5px 5px 5px 5px;
  font-size: 18px;
  color: snow;
}
